<a href="https://colab.research.google.com/github/skj092/iNeuron/blob/main/Python_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1.1

*Write a Python Program to implement yor own myreduce() function which workds exactly like Python's built-in funciton reduce()*

In [1]:
# Solution
from functools import reduce

l1 = [2,4,6,8]
f = lambda x,y : x+y
print(reduce(f, l1))

def myreduce(f, l1):
    it = iter(l1)
    v = next(it)
    for i in it:
        v = f(v, i)
    return v
print(myreduce(f, l1))

20
20

# Problem 1,2

*Write a Python program to implement your own myfilter() function which works exactly like Python's built-in funciton filter()*

# Problem 2

Implement List comprehensions to produce the flowing lists.

['x','xx','xxx','xxxx','y','yy','yyy','yyyy','z','zz',zzz','zzzz]</br>

['x','y','z','xx','yy','zz','xxx','yyy','zzz','xxxx','yyyy','xxxx']</br>

[[2],[3],[4],[5],[6]]</br>

[[2,3,4,5],[3,4,5,6],[4,5,6,7],[5,6,7,8]]</br>

[(1,1),(2,1),(3,1),(1,2),(2,2,),(3,2),(1,3),(2,3),(3,3)]

In [2]:
# solution 1
print([i*a for a in ('x','y','z') for i in range(1,5)])

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [3]:
# solution 2
print([i*a for i in range(1,5) for a in ('x','y','z')])

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [4]:
# solution 3
print([[i+j] for i in range(1,4) for j in range(1,4)])

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [5]:
# solution 4
print([[i,i+1,i+2,i+3] for i in range(2,6)])

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [6]:
# solution 5
print([(i,j) for i in range(1,4) for j in range(1,4)])

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]